a, body, dd, div, dl, dt, form, h1,
h2, h3, h4, h5, h6, label, p, small, span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

.jq-checkbox:after, .jq-radio:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    left: 50%;
    margin-left: -4px;
    top: 5px;
    background-color: transparent;
    -webkit-transition: background-color .3s ease 0s;
    -moz-transition: background-color .3s ease 0s;
    -o-transition: background-color .3s ease 0s;
    -ms-transition: background-color .3s ease 0s;
    transition: background-color .3s ease 0s
}

.jq-checkbox.checked, .jq-radio.checked {
    border-color: #e3533e !important
}

.jq-checkbox.checked+label, .jq-radio.checked+label {
    color: #e3533e
}

.jq-checkbox.checked:after, .jq-radio.checked:after {
    background-color: #e3533e
}

.jq-checkbox+label, .jq-radio+label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: color .3s ease 0s;
    -moz-transition: color .3s ease 0s;
    -o-transition: color .3s ease 0s;
    -ms-transition: color .3s ease 0s;
    transition: color .3s ease 0s;
    color: #262626
}

.rubric-anons_title {
    font: 22px/24px Georgia;
    display: block;
    margin-top: -3px;
    margin-bottom: 12px
}

.jq-checkbox, .jq-radio {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 18px;
    height: 18px;
    position: relative;
    border: 6px solid #ece7e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: border-color .3s ease 0s;
    -moz-transition: border-color .3s ease 0s;
    -o-transition: border-color .3s ease 0s;
    -ms-transition: border-color .3s ease 0s;
    transition: border-color .3s ease 0s
}

.btn {
    display: inline-block;
    border: 1px solid #ccc5c0;
    color: #9a8c81;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    height: 30px;
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    font-family: Arial;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    background-color: transparent;
    width: 170px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.btn:hover {
    color: #dc4332;
    text-decoration: none;
    border-color: #dc4332
}

.btn.error, .btn.red {
    color: #ff7f66;
    border-color: #ff7f66;
    background-color: transparent
}

.btn.error:hover, .btn.red:hover {
    color: #dc4332;
    text-decoration: none;
    border-color: #dc4332
}

.btn.small {
    width: 117px;
    height: 26px;
    font-size: 11px;
    line-height: 23px
}