<h2>Управление психологическими тестами</h2>
<p>В данном разделе Вы можете редактировать, создавать и назеачать психологические теты студентам. Для начала работы
  выберите тест из списка слева или нажмите "создать новый".
</p>

