<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"

        "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/tests.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/answerclick.js" type="text/javascript"></script>
    <title>Psycho tests</title>
</head>

<body>

    <div class="container">
        <div class="hero-unit">
            <div class="tests tests-border">
                <div>
                    <hr>
                    <br>
                    <h2 class="rubric-anons_title">Что вас мотивирует</h2>

                    <div class="tests-anons">Всего вопросов: 12, Отвечено: 0</div>
                    <form action="#questart" id="test-form" method="POST">
                        <input id="event" type="hidden" name="e" value="next">
                        <input type="hidden" name="id" value="442">
                        <input type="hidden" name="page" value="1">
                        <input type="hidden" name="count" value="12">
                        <dl class="teque">
                            <dt>
								<span class="num">1</span>
								В эти выходные  у вас довольно скверное настроение
							</dt>
                            <dd>
                                <p>
                                    <div id="ans_16824-styler" class="jq-radio radio checked" unselectable="on" style="-webkit-user-select: none; display: inline-block; position: relative;">
                                        <input type="radio" class="radio" name="QUEST_5101" id="ans_16824" value="16824" style="position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;">
                                    </div>
                                    <label for="ans_16824">
                                    	Вы медитируете, чтобы восстановить силы
                                    </label>
                                </p>
                                <p>
                                    <div id="ans_16825-styler" class="jq-radio radio" unselectable="on" style="-webkit-user-select: none; display: inline-block; position: relative;">
                                        <input type="radio" class="radio" name="QUEST_5101" id="ans_16825" value="16825" style="position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;">
                                    </div>
                                    <label for="ans_16825">
                                    	Вы занимаетесь шопингом – чтобы доставить себе какую-нибудь радость
                                    </label>
                                </p>

                                <p>
                                    <div id="ans_16826-styler" class="jq-radio radio" unselectable="on" style="-webkit-user-select: none; display: inline-block; position: relative;">
                                        <input type="radio" class="radio" name="QUEST_5101" id="ans_16826" value="16826" style="position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;">
                                    </div>
                                    <label for="ans_16826">
                                    	Вы идете на вечеринку – чтобы развеяться
                                    </label>
                                </p>
                                <p>
                                    <div id="ans_16827-styler" class="jq-radio radio" unselectable="on" style="-webkit-user-select: none; display: inline-block; position: relative;">
                                        <input type="radio" class="radio" name="QUEST_5101" id="ans_16827" value="16827" style="position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;">
                                    </div>
                                    <label for="ans_16827">
                                    	Вы звоните друзьям – они точно поднимут вам настроение
                                    </label>
                                </p>
                            </dd>
                        </dl>
                        <p class="button-holder">
                        	<a href="#" class="btn red small align-right" onmouseup="this.blur()">
                        		<span>
                        			Продолжить
                        		</span>
                        	</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>

</body>

</html>